.container {
    background-color: lightgray;
    position: absolute;
    width: 800px;
    height: 600px;
    background-color: black;
  }
.zoom {
  zoom: 300%;
}

svg {
  -webkit-clip-path: url(#svgPath2);
  clip-path: url(#svgPath2);
}
