{
  "extends": ["airbnb-base","eslint:all", "plugin:react/all", "plugin:css-modules/recommended"],
  "plugins": ["react", "css-modules"],
  "rules": {
    "strict": "off",
    "sort-keys": "off",
    "id-length": "off",
    "indent": ["error", 4],
    "semi": ["error", "always"],
    "no-console": 0,
    "linebreak-style": 0,
    "no-plusplus": "off",
    "comma-dangle": "off",
    "sort-imports": "off",
    "react/prop-types": [1, {
      "ignore": ["className"]
    }]
  },
  "env": {
    "es6": true,
    "browser": true
  }
}
